# Copy this file to `.env` to override the default values defined in
# `nuxt.config.ts` (`runtimeConfig.public`).

# API base URL.
NUXT_PUBLIC_API_HOST=https://api.bailly.app

# Search bar settings.
NUXT_PUBLIC_SEARCH_DEBOUNCE_TIME=90
NUXT_PUBLIC_SEARCH_RESULTS_LENGTH=30
NUXT_PUBLIC_SEARCH_HISTORY_LENGTH=60

# Bookmarks limits.
NUXT_PUBLIC_TAG_MAX_ITEMS=100
NUXT_PUBLIC_MAX_TAGS=50
